<div class="container">

  <div class="row">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Assignment Info</h3>
      </div>
      <div class="panel-body">
        <p>Elijah Cornell
          <br /> CMGT/445 – Wk5
          <br /> 6/8/2015
          <br /> John Burwick</p>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Tools used:</h3>
      </div>
      <div class="panel-body">
        <ul>
          <li><a href="https://golang.org/">Go</li>
      <li><a href="https://github.com/go-martini/martini">Martini</li>
      <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
        </ul>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Source:</h3>
      </div>
      <div class="panel-body">
        <ul>
          <li><a href="https://github.com/ecornell/cmgt445-site">https://github.com/ecornell/cmgt445-site</li>
         </ul>
      </div>
    </div>

  </div>

</div>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>
  $(document).ready(function() {
    $('#nav-about').addClass('active');
  });
</script>
