<div class="container">

	<div class="row">

		{{if .note}}
		<div class="alert alert-success" role="alert">{{.note}}</div>
		{{end}} {{if .errors}}
			<div class="alert alert-danger" role="alert">
			{{range .errors}}
				{{.}}<br/>
			{{end}}
		</div>
		{{end}}

		<h2>Submit Bug Report</h2>

		<form id="form" method="post" action="/bug">

      <div class="form-group">
				<label for="inputDesc">Short Description *</label>
				<input class="form-control" id="inputDesc" name="desc" placeholder="Required" value="{{.data.Description}}">
			</div>

			<div class="form-group">
				<label for="inputSeverity">Severity</label>
				<select id="inputSeverity" class="form-control" name="severity" value="{{.data.Severity}}">
					<option>1 - Critical</option>
					<option>2 - High</option>
					<option>3 - Medium</option>
					<option>4 - Low</option>
				</select>
			</div>

			<div class="form-group">
				<label for="inputSteps">Steps to reproduce:</label>
				<textarea id="inputSteps" class="form-control" rows="8" name="steps">{{.data.Steps}}</textarea>
			</div>

			<button type="submit" class="btn btn-default">Submit</button>

		</form>

	</div>

</div>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>
	$(document).ready(function() {
		$('#nav-forms').addClass('active');
    $('#inputDesc').focus();
	});
</script>
