<div class="container">

  <div class="row">

    <h2>Glossary or Terminology</h2>

    <table class="table table-striped">

        <tr><td>COTS</td><td>Commercial Off-The-Shelf</td></tr>
        <tr><td>HR</td><td>Human Resources</td></tr>
        <tr><td>SME</td><td>Subject Matter Experts</td></tr>
        <tr><td>UAT</td><td>User Acceptance Testing</td></tr>

    </table>

  </div>

</div>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>
  $(document).ready(function () {
     $('#nav-glossary').addClass('active');
 });
</script>
