<div class="container">

  <div class="row">

    <div class="jumbotron">
      <h1>Riordan HR System Project</h1>
      <h2>Implementation Plan Website</h2>
      <br />
      <br />

      <p>Elijah Cornell</p>
      <p>CMGT/445 – Wk4</p>
      <p>6/1/2015</p>
      <p>John Burwick</p>

    </div>

  </div>

</div>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
