<div class="container">

  <div class="row">

    <div class="col-md-9" role="main">

      <h2 id="project-name">Project Name</h2>
      <p>
        Riordan Human Resource (HR) System – COTS Implementation
      </p>

      <h2 id="project-desc">Project Description</h2>
      <p>Riordan Manufacturing is a global plastics manufacturer that employs 550 people and projected annual earnings of $46 million. Riordan Manufacturing’s internal systems have been undergoing modernization efforts and the next phase is to combining
        and automating all of Riordan’s HR systems. Smith Consulting Services for (SR-RM-022) performed the business analysis of the organization’s HR system requirements and selected a COTS based HR solution. The scope of this project is to implement
        the selected HR solution.</p>

      <p>The overall goal of the project is to replace the organization’s multiple automated and manual human resource related processes with a single unified system.</p>

      <p>The project objectives include:</p>
      <ul>
        <li>Vendor contract</li>
        <li>Data migration</li>
        <li>System integration</li>
        <li>User acceptance testing</li>
        <li>Training</li>
        <li>System implementation</li>
      </ul>

      <p>The desired outcome of the project is to transition the organization effectively onto the new consolidated HR system.</p>

      <h2 id="project-stakeholders">Project Stakeholders</h2>
      <table class="table table-striped">
        <thead>
          <th>Name</th>
          <th>Title</th>
          <th>Role </th>
          <th>Contact Info</th>
        </thead>

        <tr>
          <td>Hugh McCauley </td>
          <td>Chief Operating Officer</td>
          <td>Project Sponsor </td>
          <td>hmccauley@riodan.com</td>
        </tr>
        <tr>
          <td>Sue Ternus </td>
          <td>Project Manager </td>
          <td>Project Manager </td>
          <td>stermus@riodan.com</td>
        </tr>
        <tr>
          <td>Frank Smith </td>
          <td>HumanSoft HR, Project Manager </td>
          <td>Vendor PM </td>
          <td>fsmith@bsoft.com</td>
        </tr>
        <tr>
          <td>Yvonne McMillian </td>
          <td>Director of Human Resources </td>
          <td>Domain SME </td>
          <td>ymcmillian@riodan.com</td>
        </tr>
        <tr>
          <td>Andrea Gamby </td>
          <td>Employee Relations Manager </td>
          <td>Domain SME </td>
          <td>agamby@riodan.com</td>
        </tr>
        <tr>
          <td>Terri Carranza </td>
          <td>Compensation &amp; Benefits Manager </td>
          <td>Domain SME </td>
          <td>tcarranza@riodan.com</td>
        </tr>
        <tr>
          <td>Silvija Peterson </td>
          <td>Payroll Manager </td>
          <td>Domain SME </td>
          <td>speterson@riodan.com</td>
        </tr>
        <tr>
          <td>Mari Carillo </td>
          <td>Training &amp; Development Specialist </td>
          <td>Domain SME </td>
          <td>mcarillo@riodan.com</td>
        </tr>
        <tr>
          <td>Eric Myers </td>
          <td>Recruiter-Professional Staff </td>
          <td>Domain SME </td>
          <td>emyers@riodan.com</td>
        </tr>
        <tr>
          <td>Lynn Thomas </td>
          <td>Recruiter – Hourly Emp - Pontiac </td>
          <td>Domain SME </td>
          <td>lthomas@riodan.com</td>
        </tr>
        <tr>
          <td>Aimee Enriquez </td>
          <td>Recruiter – Hourly Emp - Albany </td>
          <td>Domain SME </td>
          <td>aenriquez@riodan.com</td>
        </tr>
        <tr>
          <td>Carl Green </td>
          <td>Emp Relations Specialist - HQ </td>
          <td>Domain SME </td>
          <td>cgreen@riodan.com</td>
        </tr>
        <tr>
          <td>Karen Essenburg </td>
          <td>Emp Relations Specialist - Albany </td>
          <td>Domain SME </td>
          <td>kessenburg@riodan.com</td>
        </tr>
        <tr>
          <td>Maria Trihn Chief </td>
          <td>Information Officer </td>
          <td>Regulator </td>
          <td>mtrihn@riodan.com</td>
        </tr>
        <tr>
          <td>Emp – Role Group</td>
          <td> </td>
          <td>End Users</td>
          </td>
          <td>
        </tr>
      </table>

      <h2 id="mov">Measurable Organizational Value (MOV)</h2>

      <p>Business Need/Problem 1: Riordan currently has multiple HR systems and processes used within the organization. This duplication of data and functionality is a source of many operational inefficiencies within the organization.</p>

      <p>Objective 1.1: Combine the multiple HR systems and processes into a single unified system. </p>
      <p>Measurement 1.1.1: A reduction in duplicated HR related data within the organization. </p>
      <p>Measurement 1.1.2: A reduction in the time necessary to complete HR related processes.</p>
      <p>Anticipated Benefit(s): Reduced duplication of effort and data, Increase in organizational process efficiency</p>


      <h2 id="roi">Project Return on Investment (ROI)</h2>
      <p>The organization projects an annual operational saving of $275,000 a year post implementation. The source of these saves stem from the elimination of individually licensed and supported HR systems within the organization. In addition, the organization
        estimates that the new system will reduce the resource costs associated with performing HR related processes by $50,000 annually. At this rate, the project costs will be recovered within 4 years after implementation.</p>

      <h2 id="project-scope">Project Scope</h2>
      <p>The scope of this project is to implement the previously selected COTS HR system, HumanSoft HR. The new system will replace the multiple automated and manual HR business processes currently utilized across the organization.</p>

      <h4>In Scope:</h4>
      <ul>
        <li>Vendor contract agreements</li>
        <ul>
          <li>Implementation Contract &amp; Statement of Work</li>
          <li>Support contract</li>
        </ul>
        <li>Data migration</li>
        <ul>
          <li>Employee data from existing HRIS system</li>
          <li>Training and development records from Excel file</li>
          <li>Workers’ compensation data from third-party system</li>
        </ul>
        <li>System configuration</li>
        <ul>
          <li>Implementation of custom reference data</li>
          <li>Implementation of custom business processes</li>
        </ul>
        <li>System integration</li>
        <ul>
          <li>Integration with the organization’s financial system</li>
        </ul>
        <li>User acceptance testing</li>
        <ul>
          <li>Creation of test scenario / cases</li>
          <li>Execution of tests</li>
        </ul>
        <li>Training</li>
        <ul>
          <li>Formal on-site user training sessions</li>
          <li>Online training</li>
        </ul>
        <li>System implementation</li>
        <ul>
          <li>Organizational transition plan</li>
          <li>Production environment setup</li>
        </ul>
      </ul>

      <h4>Out of Scope:</h4>
      <ul>
        <li>Recruiting services module</li>
        <ul>
          <li>Job / position posting and application functionality</li>
          <li>Centralized resume storage</li>
        </ul>
      </ul>

      <h4>Primary Project Deliverables:</h4>
      <ul>
        <li>Statement of Work (SoW)</li>
        <li>Project Charter</li>
        <li>Project Schedule</li>
        <li>Data Migration Plan</li>
        <li>Test Plan</li>
        <li>Design Package</li>
        <li>Training Package</li>
        <li>Implementation Plan</li>
      </ul>

      <h2 id="project-schedule">Project Schedule Summary</h2>
      <p>List the major project milestones and expected completion dates.</p>

      <table class="table table-striped">
        <tr>
          <td>Signed Contract and Statement of Work</td>
          <td>June 15, 2015</td>
        </tr>
        <tr>
          <td>System Configuration Work Completed</td>
          <td>September 30, 2015</td>
        </tr>
        <tr>
          <td>User Acceptance Testing Completed</td>
          <td>October 31, 2015</td>
        </tr>
        <tr>
          <td>Formal On-site User Training</td>
          <td>November 1, 2015</td>
        </tr>
        <tr>
          <td>System Go live</td>
          <td>November 15, 2015</td>
        </tr>
      </table>

      <h4>Timeline of Project by Phase</h4>
      <table class="table table-striped">
        <tr>
          <td>Planning</td>
          <td>10 Days </td>
          <td>6/2/15 – 6/13/15</td>
        </tr>
        <tr>
          <td>Design / Construction </td>
          <td>76 Days </td>
          <td>6/16/15 – 9/29/15</td>
        </tr>
        <tr>
          <td>Testing </td>
          <td>26 Days </td>
          <td>9/30/15 – 11/4/15</td>
        </tr>
        <tr>
          <td>Training </td>
          <td>6 Days </td>
          <td>11/5/15 – 11/12/15</td>
        </tr>
      </table>

      <h4>Project Budget Summary</h4>
      <p>The project has an overall budget of $900,000. The project will have a dedicated project manager and product owner assigned. Other organizational resources will be utilized, as needed.</p>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Area</th>
            <th>Cost</th>
          </tr>
        </thead>
        <tr>
          <td>Software Licensing
            <ul>
              <li>Core HR System</li>
              <li>Training Module</li>
              <li>Workers’ Compensation Module</li>
            </ul>
          </td>
          <td>$500,000</td>
        </tr>
        <tr>
          <td>Vendor Implementation Costs
            <ul>
              <li>System Customization</li>
              <li>Custom Integration</li>
              <li>Data Migration</li>
            </ul>
          </td>
          <td>$250,000</td>
        </tr>
        <tr>
          <td>Internal Costs
            <ul>
              <li>Project Management</li>
              <li>System Customization Efforts</li>
              <li>User Acceptance Testing/Training</li>
            </ul>
          </td>
          <td>$150,000</td>
        </tr>
      </table>

      <h4>Projected Budget by Phase</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Phase</th>
            <th>Cost</th>
            <th>Category</th>
          </tr>
        </thead>
        <tr>
          <td>Planning </td>
          <td>$25,000 </td>
          <td>Resources</td>
        </tr>
        <tr>
          <td>Design / Construction </td>
          <td>$200,000 </td>
          <td>Resources</td>
        </tr>
        <tr>
          <td>Testing </td>
          <td>$100,000 </td>
          <td>Resources</td>
        </tr>
        <tr>
          <td>Training </td>
          <td>$50,000 </td>
          <td>Resources/Materials</td>
        </tr>
        <tr>
          <td>Implementation </td>
          <td>$50,000 </td>
          <td>Resources</td>
        </tr>
        <tr>
          <td> </td>
          <td>$500,000 </td>
          <td>Software Licensing</td>
        </tr>
      </table>

      <h2 id="quality-issues">Quality Issues</h2>
      <ul>
        <li>The system must meet Riordan’s established performance SLAs.</li>
        <li>The system must have a security audit performed before production release.</li>
        <li>The system must have a disaster recovery plan.</li>
        <li>All critical or major defects must be mitigated before production release.</li>
      </ul>
      <h2 id="resource-requirements">Resource Requirements</h2>

      <h4>Dedicated Project Resources</h4>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Resource Name</th>
            <th>Provider</th>
            <th>Dates Required</th>
          </tr>
        </thead>
        <tr>
          <td>Project Manager - Riordan </td>
          <td>Riordan </td>
          <td>6/2/15 - 11/19/15</td>
        </tr>
        <tr>
          <td>Project Manager - HumanSoft </td>
          <td>HumanSoft </td>
          <td>6/2/15 - 11/19/15</td>
        </tr>
        <tr>
          <td>Project Lead </td>
          <td>Riordan </td>
          <td>6/2/15 - 11/19/15</td>
        </tr>
        <tr>
          <td>Business Analyst 1 </td>
          <td>Riordan </td>
          <td>6/2/15 - 11/19/15</td>
        </tr>
        <tr>
          <td>Business Analyst 2 </td>
          <td>Riordan </td>
          <td>6/2/15 – 9/29/15</td>
        </tr>
        <tr>
          <td>Business Analyst 3 </td>
          <td>Riordan </td>
          <td>6/2/15 – 9/29/15</td>
        </tr>
        <tr>
          <td>Business Analyst 4 </td>
          <td>Riordan </td>
          <td>6/2/15 – 9/29/15</td>
        </tr>
        <tr>
          <td>SME 2 </td>
          <td>Riordan </td>
          <td>6/2/15 – 9/29/15</td>
        </tr>
        <tr>
          <td>SME 3 </td>
          <td>Riordan </td>
          <td>6/2/15 – 9/29/15</td>
        </tr>
        <tr>
          <td>SME 4 </td>
          <td>Riordan </td>
          <td>6/2/15 – 9/29/15</td>
        </tr>
        <tr>
          <td>QA Analyst 1 </td>
          <td>Riordan </td>
          <td>6/16/15 – 11/4/15</td>
        </tr>
        <tr>
          <td>QA Analyst 2 </td>
          <td>Riordan </td>
          <td>9/30/15 – 11/4/15</td>
        </tr>
        <tr>
          <td>QA Automated Tester 1 </td>
          <td>Riordan </td>
          <td>9/30/15 – 11/4/15</td>
        </tr>
        <tr>
          <td>QA Automated Tester 2 </td>
          <td>Riordan </td>
          <td>9/30/15 – 11/4/15</td>
        </tr>
      </table>

      <h4>Technology Resources</h4>
      <p>Riordan’s IT division will work with the implementation vendor to meet any infrastructure and hosting requirements. This includes physical hardware and networking procurement and configuration.</p>

      <h4>Project Facilities</h4>
      <p>Dedicate space will be provide to the project team for the length of the project at the Riordan’s main office location. In addition, a dedicated training room located in Riordan’s main office location will be setup to handle the formal onsite training
        sessions.
      </p>

      <h2 id="risks">Assumptions and Risks</h2>

      <h4>Project Assumptions</h4>
      <ul>
        <li>Riordan will dedicate the necessary resources to the project full time.</li>
        <li>The COTS solution will be implementation as-is when possible with minimal customization.</li>
      </ul>

      <h4>Key Risks</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Risk</th>
            <th>Probability</th>
            <th>Impact</th>
          </tr>
        </thead>
        <tr>
          <td>Failure to provide the necessary Riordan resources full time </td>
          <td>Medium </td>
          <td>Project will be delayed</td>
        </tr>
        <tr>
          <td>Data migration issues </td>
          <td>Medium </td>
          <td>Project will be delayed</td>
        </tr>
        <tr>
          <td>The COTS solution will require extensive customization. </td>
          <td>Low </td>
          <td>Project will be delayed</td>
        </tr>
      </table>

      <h4>Organizational / Time Constraints</h4>
      <p>Riordan would like to have the new system in place before January 1, 2016. The driver to meet this date is that the licensing agreements for many of the legacy HR systems are up for renewal at that time.</p>

      <h4>Risks of Not Doing the Project</h4>
      <p>The primary risk of not implementing the new system is that the legacy systems are running on aging hardware with an increasing risk of failure. Another key risk is that the total costs associated with implementing a new system HR will only continue
        to increase over time.</p>

      <h4>Project Dependencies</h4>
      <p>There are no major external dependencies identified that could adversely affect the project.</p>

      <h4>Organizational Impact of Project</h4>
      <p>Riordan’s management and the project team will coordinate to manage the organizational impact of the project. The groups will communicate and establish clear expectations of the project via internal staff communications and the formal on-site training
        sessions.
      </p>

      <h4>Outstanding Project Issues</h4>
      <p>There are no outstanding project issues at this time.</p>

      <h4>Risk Mitigation Strategies</h4>
      <p>The project team will follow the organization’s established change management processes to handle any project risks that materialize into issues. Depending on the issue severity, the project team may require direction and prioritization from the
        project’s sponsor and stakeholders regarding the mitigation approach.</p>

      <h2 id="project-admin">Project Administration</h2>
      <h4>Communications Plan</h4>
      <p>The project manager will be responsible for the creation of an internal communications plan. The plan will detail how the project team keeps the appropriate individuals informed on important project related status and activities.</p>

      <h4>Scope Management Plan</h4>
      <p>The project team, particularly the project managers and assigned business analysts, will work with the vendor to manage the overall scope of the project. The initial project scope will be based on an agreed upon set of requirements and will act
        as a baseline to form the project schedule. As the project progresses, all deviations from the baseline requirements will follow the established change management process.</p>

      <h4>Quality Management Plan</h4>
      <p>The project manager and QA lead will be responsible for creating a quality management plan. The plan will identify the project’s key quality requirements and methods the team will use to verify the solution. As the solution entered UAT, the plan
        will outline the processes used to manage the identified defects in detail. In addition, the plan will detail the acceptance criteria for performance, security, and recovery testing efforts.</p>

      <h4>Change Management Plan</h4>
      <p>The project manager will create a change management plan that describes how the team will manage changes to the project’s scope. This will include a method to categorize and prioritize changes based on their identified need and risk. In addition,
        an escalation process will be form to ensure that the project’s sponsor and key stakeholders are involved in any significant decisions regarding cost, schedule, or quality.</p>

      <h4>Human Resource Plan</h4>
      <p>The project manager will create a human resource plan that will identify the key project roles and responsibilities of the team members during the project. In addition, the plan will contain a project organizational chart and a staffing management
        plan. The staffing plan will identify project resource needs in terms on skillsets and timelines.</p>


      <h2 id="plans">Implementation and Continued Maintenance and Project Closure Plan</h2>

      <h4>Production Systems Impact</h4>
      <p>Upon implementation of the new system, the existing legacy HR system will be shutdown.</p>

      <h4>Required Downtime</h4>
      <p>The implementation of the new system is scheduled to occur over the weekend between 11/13/15 – 11/15/15 to minimize the operation impact of the change. During this timeframe all HR related systems will be unavailable.</p>

      <h4>Deployment Communication</h4>
      <p>The organization will communicate the deployment schedule and any potential operation impacts to the affected staff on a scheduled basis leading up to the implementation date.</p>

      <h4>Deployment Model</h4>
      <p>The plan is to deploy the new HR new system as a single, clean cutover from the existing legacy systems.</p>

      <h4>Support and Maintenance</h4>
      <p>The plan is to utilize the organization’s existing support center and ticketing system to manage all post-produciton system issues. Once logged, the organization’s IT staff will triage the issues and escalate any support issues to the supporting
        software vendor if deemed necessary.</p>

      <h4>Project Closure</h4>
      <p>Once deployed into the production environment successfully, the project sponsor will formally approve the project deliverables and the project manager will begin the process of closing out the project. However if issues occur that cannot be remediated
        acceptability during the course of the project, the sponsor has the ability to terminate the project at any time.</p>

      <h2 id="approval">Implementation Plan Approval</h2>

      <br />

      Project Sponsor Name: ____________________________ Accept: ____ Reject: ____ </p>

      <p>Comments: </p>
      <br />
      <br />
      <br />

      <p>Project Sponsor Signature: ____________________________ Date: __________________ </p>

      <br />
      <br />
      <p>The project manager will submit this implementation plan to the project stakeholders and sponsor for review and comment. Upon completion of the reviews, the project manager will request that the project sponsor either formally accept or reject the
        plan by signing the above form.</p>

      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />

    </div>

    <div class="col-md-3" role="complementary">

      <nav id="navbar-side" class="sidebar hidden-print hidden-xs hidden-sm affix">
        <ul class="nav nav-stacked sidenav">
          <li class="active"><a href="#project-name">Project Name</a></li>
          <li><a href="#project-desc">Project Description</a></li>
          <li><a href="#project-stakeholders">Project Stakeholders</a></li>
          <li><a href="#mov">Measurable Organizational Value</a></li>
          <li><a href="#rio">Project Return on Investment</a></li>
          <li><a href="#project-scope">Project Scope</a></li>
          <li><a href="#project-schedule">Project Schedule Summary</a></li>
          <li><a href="#quality-issues">Quality Issues</a></li>
          <li><a href="#resource-requirements">Resource Requirements</a></li>
          <li><a href="#risks">Assumptions and Risks</a></li>
          <li><a href="#project-admin">Project Administration</a></li>
          <li><a href="#plans">Implementation and Continued Maintenance and Project Closure Plan</a></li>
          <li><a href="#approval">Implementation Plan Approval</a></li>
      </nav>

    </div>

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script>
    $('body').scrollspy({
      target: '#navbar-side'
    })
    $(document).ready(function () {
       $('#nav-plan').addClass('active');
   });
  </script>
