<div class="container">

  <div class="row">

    <h2>References</h2>

<p>Piscopo, M. (2015).  Human Resource Plan.  Retrieved from <a href="http://www.projectmanagementdocs.com/project-planning-templates/human-resource-plan.html"> http://www.projectmanagementdocs.com/project-planning-templates/human-resource-plan.html</a></p>

<p>Riordan Manufacturing (2015), Intranet website.  Retrieved from <a href="https://ecampus.phoenix.edu/secure/aapd/cist/vop/Business/Riordan/index.asp"> https://ecampus.phoenix.edu/secure/aapd/cist/vop/Business/Riordan/index.asp</a></p>

<p>Schneider, C. &amp; Valacich, J., (2012). Information Systems Today: Managing in the Digital World.  Retrieved from Textbook</p>

<p>Smith Services Consulting Incorporated (2015).  Riordan Manufacturing Service Request – SR-RM-022.  Retrieved from <a href="https://ecampus.phoenix.edu/secure/aapd/cist/vop/ServiceRequests/index.asp#Riordan Manufacturing">https://ecampus.phoenix.edu/secure/aapd/cist/vop/ServiceRequests/index.asp#Riordan Manufacturing</a></p>

  </div>

</div>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>
  $(document).ready(function () {
     $('#nav-ref').addClass('active');
 });
</script>
