body {
  position: relative;
}
#navbar-side .nav>li>a {
  padding: 6px 15px;
}
#navbar-side li.active>a {
  color: #563d7c;
  background-color: transparent;
  border-left: 2px solid #563d7c;
}
.navbar-brand img {
  margin-top: -10px;
}
